
<div class="member-container">
  <div class="member-card">
      <h3 class="member-list-title">Group Members</h3>

    <div class="member-data">
      <%= simple_form_for [@group, @user_group], class: "member-data-title" do |f| %>
        <%= f.input :user_id, collection: User.all, label_method: :username, input_html: { multiple: true, data: { controller: 'select2', select2_options_value: {tags: true} } }, class: "member-data-position", label: false %>
        <%= f.button :submit, value: "Add members", class: "submit-btn" %>
      <% end %>

      <%# Work in progress %>
      <button id="share" onclick="share" class="submit-btn">Share</button>
      <script>
        function share() {
          navigator.share({
            text: 'Your friend Saki organised an event, please come and vote for the date you would like to join.',
            url: 'http://www.planit.lol/'
          })
        }

        const shareButton = document.getElementById("share")

        if (navigator.share) {
          shareButton.addEventListener("click", share)
        } else {
          shareButton.remove()
        }
      </script>
      <%# Work in progress %>

    </div>
  </div>

  <div class="member-card">
    <h3 class="member-list-title">Group Members</h3>
    <div class="member-list">
      <div class="mb-4" style="background-color: #F4F4F4; padding: 12px; border-radius: 2px;">
        <% @group.user_groups.each do |user_group| %>
          <%= user_group.user.username %>
          <%= link_to raw("<i class='fa-solid fa-xmark'></i>"), user_group_path(user_group), data: { turbo_method: :delete } %> <br>
        <% end %>
      </div>
      <%= link_to "Back to group", group_path(@group), class: "submit-btn" %>
    </div>
  </div>
</div>
