<div class="align-form" style="background-color: rgba(255,255,255,0.4); border-radius: 12px;">
  <div class="common-form">
    <%= simple_form_for [@group, @user_group] do |f| %>
      <%= f.input :user_id, as: :check_boxes, collection: User.all, label_method: :username, input_html: {multiple: true} %>
      <%= f.button :submit, class: "submit-btn", value: "Add Users" %>
      <%= link_to "Delete Users", group_user_groups_path(@group, @user_group), class: "delete-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<%# <%= link_to "Delete Users", group_user_group_path(@group, @user_group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
 <%# group_user_group PATCH  /groups/:group_id/user_groups/:id(.:format) %>
