<div class="col-sm-3">
  <div class="group-card">
    <%= link_to group_path(group) do %>
      <div class="card-body" style="background-image: url('<%= cl_image_path group.picture.key %>');">
        <div class="group-card-info">
          <h5 class="card-title"><%= group.name %></h5>
          <p class="card-text"><strong><%= group.users.count %></strong> members</p>
          <p class="card-text"><strong><%= group.events.count %></strong> events</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
