<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} · #{@group.name}" %>
<% content_for :meta_image, cl_image_path(@group.picture.key) %>

<div class="group-container" data-controller="switch-tabs">
  <div class="show-event">
    <div class="group-channel">
      <%= cl_image_tag @group.picture.key, class: "avatar-square" %>
      <h3><i class="fa-regular fa-flag group-channel-flag"></i> <%= @group.name %></h3>
      <div class="group-channel-row">
        <%= link_to new_group_user_group_path(@group), class: "group-channel-link" do %><i class="fa-solid fa-user-group"></i> <%= @group.users.count %><% end %>
        <a href="/groups/<%= @group.id%>", class="group-channel-link"><i class="fa-solid fa-calendar-check"></i> <%= @events.count %></a>
      </div>
    </div>
    <div class="group-channel-events-container">
      <% @events.each do |event| %>
        <%= render "events/card", event: event, group: @group %>
      <% end %>
    </div>

    <div class="group-channel-create">
      <%= render "events/form", event: @event %>
    </div>
  </div>

  <div class="group-content">
    <div class="group-content-header">
      <div class="tab active-tab" data-switch-tabs-target="calTab" data-action="click->switch-tabs#showCalendar">
        Calendar
      </div>
      <div class="tab" style="height: 40%;" data-switch-tabs-target="mapTab" data-action="click->switch-tabs#showMap">
        Map
      </div>
    </div>

    <div data-switch-tabs-target="calendar"><%= render "events/calendar", events: @calendar_events %></div>
    <div class="d-none map-container" data-switch-tabs-target="map"><%= render "events/map" %></div>
  </div>
</div>
