<div class="group-container" data-controller="switch-tabs">
  <div class="group-channel">
    <%= cl_image_tag @group.picture.key, class: "avatar-square" %>
    <h3><%= @group.name %></h3>
    <div class="group-channel-row">
      <%= link_to new_group_user_group_path(@group), class: "group-channel-link" do %><i class="fa-solid fa-user-group"></i> <%= @group.users.count %><% end %>
      <%= link_to new_group_user_group_path(@group), class: "group-channel-link" do %><i class="fa-solid fa-calendar-check"></i> <%= @events.count %><% end %>
    </div>

    <div class="group-channel-events-container">
      <% @events.each do |event| %>
        <%= render "events/card", event: event %>
      <% end %>
    </div>

    <div class="group-channel-create">
      <%= render "events/form", event: @event %>
    </div>
  </div>

  <div class="group-content">
    <div class="group-content-header">
        <div class="tab" data-switch-tabs-target="caltab" data-action="click->switch-tabs#showCalendar">
          Calendar
        </div>
        <div class="tab" style="height: 40%;" data-switch-tabs-target="maptab" data-action="click->switch-tabs#showMap">
          Map
        </div>
    </div>
    <div data-switch-tabs-target="calendar"><%= render "events/calendar" %></div>
    <div data-switch-tabs-target="map" class="d-none" style="height: 100%; width: 100%;"><%= render "events/map" %></div>
  </div>

</div>
