<div class="group-channel-event" style="background-color: <%= event.colour %>; opacity: 0.75;">
  <div class="avatar-in-event">
    <%= cl_image_tag event.user.avatar.key, class: "avatar-small" %>
  </div>

  <div class="justify-name-and-lock-in-event">
    <%= link_to group_path(group, event_id: event.id) do %>
      <div class="name-in-event"><%= event.name %></div>
    <% end %>

    <div class="lock-in-event">
      <% if event.user == current_user  %>
        <div data-controller="lock" class="ms-2">
          <% if event.locked %>
            <i class="fa-solid fa-lock"></i>
          <% else %>
            <%= link_to group_event_path(event.group, event), data: {turbo_method: :patch} do %>
              <i class="fa-solid fa-lock-open"></i>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="ms-2">
          <% if event.locked %>
            <i class="fa-solid fa-lock"></i>
          <% else %>
           <i class="fa-solid fa-lock-open"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="delete-in-event">
    <%= link_to raw("<i class='fa-solid fa-xmark'></i>"), event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "event-card-delete-btn" %>
  </div>
</div>
