<div class="group-channel-event"  style="background-color: <%= event.colour %>;"data-action="click->select-event#selectEvent" data-event-colour=<%= event.colour %>>
  <div class="d-flex align-items-center group-channel-event-row-avatar">
    <div class="avatar-in-event"><%= cl_image_tag event.user.avatar.key, class: "avatar-small" %></div>
  </div>
  <div class="d-flex align-items-center">
    <div class="ms-2"><%= event.name %></div>
    <div class="ms-2"><%= event.locked ? "🔒" : "" %></div>
  </div>
  <%= link_to raw("<i class='fa-solid fa-xmark'></i>"), event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "event-card-delete-btn" %>
</div>
